.navigation{
  display: flex;
  align-items: center;
  justify-content: space-between; 
  background-color: lightblue;
}

.navigation a{
  font-size: 16px;
  font-weight: 200;
  color: whitesmoke;
  text-decoration: none;
}

.nav__links{
  display:flex;
  justify-content: space-around;
  width: 30%;
}

.nav__links li{
  list-style: none;
}

/*mobile mode*/
.mobile_header{
  display:none;
}


@media only screen and (max-width: 768px){
    .navigation{
        display: none;
    }

    .mobile_header{
        display:block;
        width:100vw;
        height: 90px;
        background-color: lightblue;
    }
}

