.profile-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width:100%;
    margin-bottom: 50px;
}

.profile-details-wrapper{
    width:50%
}
.profile-details-wrapper div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

/*change Input style when disabled*/
.profileEditInput:disabled{
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

#editProfileBtn{
    border: none;
    background: none;   
}

#submitChangesBtn{
    background-color: var(--font-color-secondary);
    color:var(--font-color-light);   
    width: 140px;
    height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
    display: none;
}